    *{
        font-family: 'Cormorant Garamond', serif;
       /*  font-family: 'Playfair Display', serif; for headings / navbar */
     

    }
    .mega-menu {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      background: #fff;
      padding: 20px;
      display: none;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      z-index: 1000;
    }
    .nav-link{
        color: #6A5F55;
    }
   
    .nav-item.mega-hover:hover .mega-menu {
      display: block;
    }
    .mega-menu .col {
      padding: 10px;
    }
    .mega-menu a {
      display: block;
      padding: 5px 0;
      color: #151515;
      text-decoration: none;
    }
    .mega-menu a:hover {
      color: #0d6efd;
      text-decoration: underline;
    }

    .navbar{
        background-color:  #D9C8B2; 
        position: sticky;
        top: 0;
        z-index: 1020;
    }
    .Logo{
        width: 220px;
        height: 75px;
    }

    .sub-navbar {
      background-color: #F1E9DC;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      position: sticky;
      top: 99px; 
      z-index: 1019;
      
    }
    .sub-navbar .nav-link {
      font-weight: 500;
      color: #6A5F55;
      padding: 2px;
    }
    .sub-navbar .nav-link:hover {
      color: #000;
      
    }
    .features-section {
      background-color: #F1E9DC;
      padding: 60px 0;
      margin-top: 90px;
      margin-bottom: 90px;
    }

    .feature-box {
      padding: 20px;
      transition: transform 0.3s ease;
    }

    .feature-box:hover {
      transform: translateY(-5px);
    }

    .icon-circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.645);
      border: 2px solid #c9b987;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 15px auto;
      transition: all 0.3s ease;
    }

    .icon-circle i {
      font-size: 2rem;
      color: #c7bd9d;
    }

    .feature-box h5 {
      font-weight: 600;
      margin-top: 10px;
      color: #222;
    }

    .feature-box p {
      color: black;
      font-size: 0.95rem;
    }

    /* sub */

     .nav-tabs .nav-link {
      color: #333;
      font-weight: 500;
    }
    .nav-tabs .nav-link.active {
      border-bottom: 3px solid #000;
      font-weight: 600;
    }
    .product-card {
      padding: 10px;
      text-align: center;
    }
    .product-card img {
      max-width: 100%;
      object-fit: cover;
    }
    .explore-btn {
      border: 1px solid #333;
      background: transparent;
      padding: 10px 37px;
      margin-top: 20px;
      text-align: center;
      transition: all 0.3s ease;
    }
    .explore-btn:hover {
    background-color: #444;
    transform: scale(1.01);
    color: white;
     
}

    .card img {
      height: 380px;
      object-fit: cover; 
    }
    .carousel-item img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      border: 1px solid #ccc;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
       width: 40px;      
       height: 40px; 
      top: 50%;
      transform: translateY(-50%);
      background-color: #D9C8B2;
      border-radius: 50%;
      padding: 10px;
    }
    .carousel-control-prev {
      left: -60px; 
    }
    .carousel-control-next {
      right: -60px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(1); 
    }

    @media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 30px;
    height: 30px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 15px;
    height: 15px;
  }
  .carousel-control-prev {
    left: -10px;
  }
  .carousel-control-next {
    right: -10px;
  }
}

.img-hero {
position: relative;
overflow: hidden;
margin-top: 10%;
}
.img-hero .hero-img {
width: 100%;
max-height: 820px; /* you can change this */
}

.product-items{
  padding: 5% 8% 5% 8%;
  background-color: #F1E9DC;
  width: 100%;
  margin: 0;
 
}

.product-items-1{
  padding: 5% 8% 5% 8%;
  background-color: #F1E9DC;
  width: 100%;
  margin-top: 10%;
 
}

.under-line{
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

    .wishlist-btn {
      position: absolute;
      top: 9px;
      right: 15px;
      opacity: 0;
      background-color: transparent;
     border: 0;
    }
    .position-relative:hover .wishlist-btn {
      opacity: 1;
    }
    @media (max-width: 767px){
      
      .wishlist-btn { opacity: 1; }
      .bi-heart{
      font-size: 15px;
      }
      .wishlist-btn {
        top: 3px;
       right: 10px;
      }
    }
   .wishlist-icon.active {
  color: red !important;
}
.images-2{
  height: 440px; 
      object-fit: cover; 
     
      
}

.image-wrapper {
      position: relative;
      display: inline-block;
      padding: 30px;
    }
    .large-img {
      height: 30%;
      object-fit: cover; 
      padding: 5px;
    }
    .small-img {
      width: 250px;
      height: 200px;
      object-fit: cover;
      position: absolute;
      top: 60%;
      transform: translate(-60%, -10%);
      border: 3px solid #fff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    .items{
      background-color: #EFE7DA;
    }

    @media (max-width: 845px) {
  .image-wrapper {
    padding: 10px;
  }
  .large-img {
      height: 20%;
      object-fit: cover; 
      padding: 5px;
    }
    .small-img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      position: absolute;
      top: 50%;
      transform: translate(-70%, -10%);
      border: 3px solid #fff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
}

 @media (max-width: 768px) {
  .image-wrapper {
    padding: 10px;
  }
  .large-img {
      height: 20%;
      object-fit: cover; 
      padding: 5px;
    }
    .small-img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      position: absolute;
      top: 75%;
      transform: translate(-120%, -25%);
      border: 3px solid #fff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
}

 @media (max-width: 576px) {
  .image-wrapper {
    padding: 5px;
  }
  .large-img {
      height: 10%;
      object-fit: cover; 
      padding: 5px;
      
    }
    .small-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      position: absolute;
      top: 68%;
      transform: translate(-120%, -25%);
      border: 3px solid #fff;
      
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
}
.profile{
  background-color: white;

}
.profile img{
  border-radius: 70px;
  width: 60px;
  height: 60px;
}

     .footer {
      border: 1px solid #ccc;
      padding: 40px 20px;
      font-size: 15px;
      background-color: #F1E9DC;
      margin-top: 70px;
    }
    .footer h6 {
      font-weight: 600;
      margin-bottom: 15px;
    }
    .footer a {
      display: block;
      color: #000;
      text-decoration: none;
      margin-bottom: 5px;
      transition: color 0.3s;
    }
    .footer a:hover {
      color: #555;
    }
    .footer .social-icons a {
      display: inline-block;
      margin-right: 10px;
      font-size: 20px;
      color: #000;
    }
    .footer .social-icons a:hover {
      color: #555;
    }

     @media (max-width: 845px) {
  
.nav-bar {
       display: none;
    }

   
    .nav-bar a {
       display: none;
    }
}

    #ids{
  text-decoration: none;
  color: #6A5F55;
}

 

.nav-bar {
        background-color: #F1E9DC; 
        border-bottom: 1px solid #d1c4b0; 
        display: flex;
        justify-content: center;
        padding: 10px 0;
        position: sticky;
       top: 99px; 
       z-index: 1019;
    }

    .nav-bar a li {
        text-decoration: none;
        color: #6A5F55;
        margin: 0 10px;
           font-weight: 500;
          color: #6A5F55;
          padding: 2px;
    }

.offcanvas-body ul {
  list-style: none;   
  padding: 0;        
  margin: 0;         
}

.offcanvas-body ul li a {
  color: #333;
  display: block;   
  padding: 8px 0;   
  text-decoration: none;
  font-size: 16px;
}

.offcanvas-body ul li a:hover {
  color: #d63384;    
}

    
   