*{
        font-family: 'Cormorant Garamond', serif;
       /*  font-family: 'Playfair Display', serif; for headings / navbar */
     

    }
    .mega-menu {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      background: #fff;
      padding: 20px;
      display: none;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      z-index: 1000;
    }
    .nav-link{
        color: #6A5F55;
    }
   
    .nav-item.mega-hover:hover .mega-menu {
      display: block;
    }
    .mega-menu .col {
      padding: 10px;
    }
    .mega-menu a {
      display: block;
      padding: 5px 0;
      color: #151515;
      text-decoration: none;
    }
    .mega-menu a:hover {
      color: #0d6efd;
      text-decoration: underline;
    }

    .navbar{
        background-color:  #D9C8B2; /*#DEBFAD*/
        position: sticky;
        top: 0;
        z-index: 1020;
    }
    .Logo{
        width: 220px;
        height: 75px;
    }

    .sub-navbar {
      background-color: #F1E9DC;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      position: sticky;
      top: 99px; /* height of main navbar */
      z-index: 1019;
      
    }
    .sub-navbar .nav-link {
      font-weight: 500;
      color: #6A5F55 !important;
      padding: 2px;
    }
   
    

 

.nav-bar {
        background-color: #F1E9DC; /* beige background */
        border-bottom: 1px solid #d1c4b0; /* subtle border */
        display: flex;
        justify-content: center;
        padding: 10px 0;
        position: sticky;
       top: 99px; /* height of main navbar */
       z-index: 1019;
    }

    /* Navigation links */
    .nav-bar a {
        text-decoration: none;
        color: #6A5F55;
        margin: 0 10px;
           font-weight: 500;
          color: #6A5F55;
          padding: 2px;
    }

   

.carousel-item img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      border: 1px solid #ccc;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
       width: 40px;       /* button width */
       height: 40px; 
      top: 50%;
      transform: translateY(-50%);
      background-color: #D9C8B2;
      border-radius: 50%;
      padding: 10px;
    }
    .carousel-control-prev {
      left: -60px; /* move outside left */
    }
    .carousel-control-next {
      right: -60px; /* move outside right */
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(1); /* white icons */
    }

    @media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 30px;
    height: 30px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 15px;
    height: 15px;
  }
  .carousel-control-prev {
    left: -10px;
  }
  .carousel-control-next {
    right: -10px;
  }
}

.image-overlay {
      position: relative;
      width: 100%;
    
    }

    .image-overlay img {
      width: 100%;
       height: 500px;
       object-fit: cover;
       
    }

    .overlay-text {
      position: absolute;
      top: 35%;
      right: 39px;
      color: black;
      font-weight: bold;
      border-radius: 10px;
      
    }

    .overlay-text h2 {
      margin-bottom: 10px;
      color: black;
    }

    
.explore-btn {
      border: 1px solid #333;
      background: transparent;
      padding: 10px 37px;
     color: white;
      text-align: center;
      transition: all 0.3s ease;
    }
    .explore-btn:hover {
    background-color: #444;
    transform: scale(1.01);
    color: white;
     
} 


.product-items{
  padding: 5% 8% 5% 8%;
  background-color: #F1E9DC;
  width: 100%;
  margin-top: 50px;
 
}

.product-items-1{
  padding: 5% 8% 5% 8%;
  background-color: #F1E9DC;
  width: 100%;
  margin-top: 10%;
 
}

.circle-nav-btn {
  width: 40px;       /* button width */
  height: 40px; 
  top: 50%;
  transform: translateY(-50%);
  background-color: #D9C8B2;
  border-radius: 50%;
  padding: 10px;
}

.carousel-control-prev.circle-nav-btn {
  left: -60px; /* move outside left */
}
.carousel-control-next.circle-nav-btn {
  right: -60px; /* move outside right */
}

.circle-nav-btn .carousel-control-prev-icon,
.circle-nav-btn .carousel-control-next-icon {
  filter: invert(1); /* white icons */
}

@media (max-width: 768px) {
  .circle-nav-btn {
    width: 30px;
    height: 30px;
  }
  .circle-nav-btn .carousel-control-prev-icon,
  .circle-nav-btn .carousel-control-next-icon {
    width: 15px;
    height: 15px;
  }
  .carousel-control-prev.circle-nav-btn {
    left: -10px;
  }
  .carousel-control-next.circle-nav-btn {
    right: -10px;
  }
}
.circle-btn {
      width: 40px;
      height: 40px;
      margin: 0 5px;
      border-radius: 50%;
    
      background: #D9C8B2;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s;
    }
    .circle-btn:hover {
      background: #D9C8B2;
      border-color: #D9C8B2;
      color: #fff;
    }
    .circle-btn svg {
      width: 18px;
      height: 18px;
    }
    @media (max-width: 768px) {
      .circle-btn {
        width: 30px;
        height: 30px;
      }
      .circle-btn svg {
        width: 14px;
        height: 14px;
      }
    }

    
.video-section {
      position: relative;
      overflow: hidden;
      padding: 30px;
    }

    .video-section video {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }

    .video-overlay {
      position: absolute;
       bottom: 10%;       
       left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: white;
    
    }
    .b1{
        border-color: white;
    }

    
 .left-image {
      flex: 1;
      background: url('https://staticimg.zoya.in/Banners/Aeterna/assets/images/reborn/aeterna-images/Sticky1.png') no-repeat center center;
      background-size: cover;
      position: relative;
      padding: 40px;
      color: #fff;
    }

    .left-image::after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.2);
    }

    .left-image .text {
      position: relative;
      z-index: 2;
      top: 80%;
      bottom: 0;
     
    }

    .left-image h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    .left-image a {
      display: inline-block;
      padding: 10px 20px;
      border: 1px solid #fff;
      text-decoration: none;
      color: #fff;
      transition: all 0.3s ease;
    }

    .left-image a:hover {
      background-color: #fff;
      color: #000;
    }

    .right-slider {
      flex: 1;
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    

   .mySwiper, 
.mySwiper .swiper-wrapper, 
.mySwiper .swiper-slide {
  height: 100%;
  width: 500px;
}

/* Make images fill the slide area */
.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* this is the key */
  display: block;
}

/* Optional: position the title at the bottom of each slide */
.item-title {
  position: absolute;
  text-align: center;
  justify-content: center;
  bottom: 10px;
  left: 30%;
  color: #fff;
}
.cont {
  display: flex;
  height: 100vh; /* full screen height */
}


.right-slider {
  flex: 1;
}



.image-wrapper {
      position: relative;
      display: inline-block;
      padding: 30px;
    }

    .large-img{
     
      border-top-left-radius: 48%;
      border-top-right-radius: 48%;
      width: 99%;
     object-fit: cover;
      height: 630px;
      position: relative;
      border: 3px solid #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
 .small-img {
      width: 230px;
      height: 230px;
      object-fit: cover;
      position: absolute;
    
      top: 67%;
      right: -30px;
      border: 3px solid #fff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }


     @media (max-width: 845px) {
  .image-wrapper {
    padding: 10px;
  }
  .large-img {
      height: 20%;
      object-fit: cover; 
      padding: 5px;
    }
    .small-img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      position: absolute;
      top: 50%;
      border: 3px solid #fff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
}

 @media (max-width: 768px) {
  .image-wrapper {
    padding: 10px;
  }
  .large-img {
      height: 20%;
      object-fit: cover; 
      padding: 5px;
    }
    .small-img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      position: absolute;
      top: 75%;
      border: 3px solid #fff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
}

 @media (max-width: 576px) {
  .image-wrapper {
    padding: 5px;
  }
  .large-img {
      height: 10%;
      object-fit: cover; 
      padding: 5px;
      
    }
    .small-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      position: absolute;
      top: 68%;
    
      border: 3px solid #fff;
      
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
}
.b5{
    color: black;
}
.footer {
      border: 1px solid #ccc;
      padding: 40px 20px;
      font-size: 15px;
      background-color: #F1E9DC;
    }
    .footer h6 {
      font-weight: 600;
      margin-bottom: 15px;
    }
    .footer a {
      display: block;
      color: #000;
      text-decoration: none;
      margin-bottom: 5px;
      transition: color 0.3s;
    }
    .footer a:hover {
      color: #555;
    }
    .footer .social-icons a {
      display: inline-block;
      margin-right: 10px;
      font-size: 20px;
      color: #000;
    }
    .footer .social-icons a:hover {
      color: #555;
    }

       @media (max-width: 845px) {
  
.nav-bar {
       display: none;
    }

    /* Navigation links */
    .nav-bar a {
       display: none;
    }
}

    #ids{
  text-decoration: none;
  color: #6A5F55;
}


 .Mobile button {
      display: none;
    }

    /* Show only when screen width ≤ 845px */
    @media (max-width: 845px) {
      .Mobile button {
        display: inline-block;
      }
    }